
*.xcuserstate

SwiftResistanceObjC/SwiftResistanceObjC.xcodeproj/xcuserdata/josephl.xcuserdatad/xcschemes/xcschememanagement.plist

SwiftResistanceSwift/SwiftResistanceSwift.xcodeproj/xcuserdata/josephl.xcuserdatad/xcschemes/xcschememanagement.plist
